@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Noto Serif TC', serif;
    font-size: 16px;
}
html{
    scroll-behavior: smooth;
}
header{
    background-color: #fff;
    width: 100%;
    height: 8vh;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
header .logo svg{
    margin-right: 12px;
}
header ul{
    display: flex;
    flex-direction: row;
}
header ul li{
    list-style: none;
    padding: 0 15px;
    display: inline-block;
    border-left: 1px #000 solid;
}
header ul .left{
    border-left: none;
}
header ul li a{
    text-decoration: none;
    color: #000;
}
header ul li .dropdown{
    width: 150px;
    position: absolute;
    z-index: 9;
    display: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
header ul li .dropdown li{
    width: 80%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px #7a610a solid;
    border-bottom-width: 80%;
    border-left: none;
}
header ul li .dropdown .down{
    border-bottom: none;
}
header ul li .dropdown a{
    width: 100%;
    color: #7a610a;
}
header ul li:hover .dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.breadcrumb{
    width: 100%;
    height: 8vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.breadcrumb a{
    color: #333;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}
.about{
    width: 100%;
    height: 80vh;
    background-image: url("https://ppt.cc/fbO5Sx@.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    
}
.about .about_center{
    background-color: #fff;
    border-radius: 1rem;
    width: 25%;
    padding: 30px;
    margin-left: 50%;
}
.about .about_center h1{
    font-size: 36px;
    color: #124854;
    margin-bottom: 20px;
}
.about .about_center p{
    color: #65afa9;
}
.page{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.page .page1{
    width: 80%;
    text-align: center;
}
.page .page1 h1{
    font-size: 36px;
    color: #124854;
    margin: 50px 0px;
}
.page .page1 .accordion .accordion_content{
    border: 1px #000 solid;
    border-radius: 1rem;
    margin-bottom: 20px;
    overflow: hidden;
}
.page .page1 .accordion .accordion_content .title{
    border-radius: 1rem;
    cursor: pointer;
    background-color: #65afa9;
    padding: 15px;
    color: #fff;
    transition: all 0.2s linear;
}
.page .page1 .accordion .accordion_content .title p{
    font-size: 20px;
}
.page .page1 .accordion .accordion_content .description{
    padding: 0px 15px;
    height: 0;
    transition: all 0.2s linear;
    text-align: left;
    color: #65afa9;
}
.page .page1 .accordion .accordion_content .description a{
    color: #65afa9;
}
.page .page1 .members{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.page .page1 .members .member{
    width: 32%;
    height: 100vh;
    border: 1px #999 solid;
    margin-bottom: 30px;
    display: flex;
    text-align: left;
    flex-direction: column;
    color: #124854;
    border-radius: 1rem;
    overflow: hidden;
}
.page .page1 .members .member h2{
    text-align: center;
    font-size: 22px;
}
.page .page1 .members .member a{
    color: #124854;
}
.page .page1 .members .member .profe{
    width: 100%;
    color: #999;
    font-size: 13px;
    text-align: center;
}
.page .page1 .members .member img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.page .page1 .members .member .intro{
    width: 100%;
    height: 50%;
    padding: 20px 30px;
}
.page .page1 .watchmmore{
    width: 100%;
    text-align: right;
    cursor: pointer;
    margin-bottom: 80px;
}
footer{
    width: 100%;
    height: 15vh;
    background-color: #925054;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
footer ul li{
    list-style: none;
    margin: 0 8px;
}
footer ul li a{
    color: #fff;
    text-decoration: none;
}
footer ul .icon{
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer ul .icon a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}