@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Noto Serif TC', serif;
    font-size: 16px;
}
html{
    scroll-behavior: smooth;
}
header{
    background-color: #fff;
    width: 100%;
    height: 8vh;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
header .logo svg{
    margin-right: 12px;
}
header ul{
    display: flex;
    flex-direction: row;
}
header ul li{
    list-style: none;
    padding: 0 15px;
    display: inline-block;
    border-left: 1px #000 solid;
}
header ul .left{
    border-left: none;
}
header ul li a{
    text-decoration: none;
    color: #000;
}
header ul li .dropdown{
    width: 150px;
    position: absolute;
    z-index: 9;
    display: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
header ul li .dropdown li{
    width: 80%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px #7a610a solid;
    border-bottom-width: 80%;
    border-left: none;
}
header ul li .dropdown .down{
    border-bottom: none;
}
header ul li .dropdown a{
    width: 100%;
    color: #7a610a;
}
header ul li:hover .dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header .listicon{
    display: none;
}
.breadcrumb{
    width: 100%;
    height: 8vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.breadcrumb a{
    color: #333;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}
footer{
    width: 100%;
    height: 15vh;
    background-color: #925054;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
footer ul li{
    list-style: none;
    margin: 0 8px;
}
footer ul li a{
    color: #fff;
    text-decoration: none;
}
footer ul .icon{
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer ul .icon a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.news{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.news h1{
    width: 80%;
    text-align: left;
    color: #124854;
    font-size: 36px;
    margin: 30px 0;
}
.news .news_blocks{
    width: 80%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 30px;
}
.news .news_blocks .block{
    width: 95%;
    background-color: #fff;
    height: 50vh;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px #124854 solid;
    color: #124854;
    margin-bottom: 15px;
}
.news .news_blocks .block .imginfo{
    height: 50%;
}
.news .news_blocks .block .imginfo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news .news_blocks .block .imginfo .p{
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: #9b3d43;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
}
.news .news_blocks .block .imginfo .p.results{
    background-color: #a59a3e;
}
.news .news_blocks .block .imginfo .p.newss{
    background-color: #65afa9;
}
.news .news_blocks .block .imginfo .p.admissions{
    background-color: #5d65c2;
}
.news .news_blocks .block .fontinfo{
    height: 50%;
    padding: 20px;
}
.news .news_blocks .block .fontinfo h2{
    font-size: 25px;
}
.news .news_blocks .block .fontinfo .time,
.news .news_blocks .blockonlywords .time{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.news .news_blocks .block .fontinfo .learnmore,
.news .news_blocks .blockonlywords .learnmore{
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}
.page{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    color: rgb(157, 157, 157);
    margin-bottom: 80px;
}
.page .btn{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px rgb(157, 157, 157) solid;
    cursor: pointer;
}
.page .btn:hover{
    color: #000;
    border: 1px #000 solid;
}
.page .page_number{
    margin: 0 20px;
    color: #000;
}
@media only screen and (max-width:900px){
    header{
        height: fit-content;
        flex-direction: column;
        justify-content: space-between;
    }
    header ul{
        width: 100%;
        height: fit-content;
        align-items: flex-start;
        flex-direction: column;
        display: none;
    }
    header .head{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 6vh;
        /*margin-bottom: 15px;*/
    }
    header .head .listicon{
        display: flex;
        cursor: pointer;
    }
    header ul li{
        border: none;
        margin-bottom: 8px;
    }
    header ul li .dropdown {
        margin-left: 20px;
        width: 100%;
        position: relative;
        display: flex;
        background-color: #fff;
        border-radius: 0;
        box-shadow: none;
       ;
    }
    header ul li .dropdown li {
        margin-bottom: 3px;
        width: 100%;
        text-align: left;
        padding: 0;
        border-bottom: 0;
        border-bottom-width: 0;
        border-left: none;
    }
    header ul li .dropdown li a{
        border-bottom: 0;
    }
    header ul li:hover .dropdown{
        display: flex;
        align-items: left;
        justify-content: flex-start;
        flex-direction: column;
    }
    footer{
        padding: 10px;
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }
    footer ul{
        display: flex;
        align-items: flex-start;
        justify-content: left;
        flex-direction: column;
        margin: 0;
    }
    footer ul li{
        list-style: none;
        margin: 3px 8px;
    }
    footer .font{
        
        margin:10px 8px 0 8px;
    }
    .news .news_blocks{
        grid-template-columns: repeat(1, 1fr);
    }
}